// Base styling for the navbar
#mainNav {
  box-shadow: $box-shadow;
  background-color: $white;
  transition: background-color 0.2s ease;
  @include media-breakpoint-down(md) {
    background-color: rgba(255, 255, 255, 0.8);
    color:$white;
    &.navbar-scrolled {
      background-color: rgba(255, 255, 255, 1);
      .navbar-brand {
        background-image: url(../img/ease-crop-b.png);
        background-repeat: no-repeat;
        background-size: 98%;
      }
    }
  }
  .navbar-brand {
    height: 125px;
    width: 125px;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    color: black;
    background-image: url(../img/ease-crop-w.png);
    background-repeat: no-repeat;
    background-size: 98%;
    
      @include media-breakpoint-down(md) {
        background-image: url(../img/ease-crop-b.png);

      }


  }
  .navbar-nav {

    .nav-item {
      
      .nav-link {
        color: $gray-600;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        font-size: 0.9rem;
        padding: 0.75rem 0;
        &:hover,
        &:active {
          color: $primary;
        }
        &.active {
          color: $primary !important;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // Base styling for the navbar - screen sizes greater than the large breakpoint
    box-shadow: none;
    background-color: transparent;
    .navbar-brand {
      color: fade-out($white, .3);
      &:hover {
        color: $white;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: fade-out($white, .3);
          padding: 0 1rem;
          &:hover {
            color: $white;
          }
        }
        &:last-child {
          .nav-link {
            padding-right: 0;
          }
        }
      }
    }
    // Navbar styling applied when the page is scrolled
    &.navbar-scrolled {
      box-shadow: $box-shadow;
      background-color: $white;
      .navbar-brand {
        color: $gray-900;
        background-image: url(../img/ease-crop-b.png);
        background-repeat: no-repeat;
        background-size: 98%;

        
        &:hover {
          color: $primary;
        }
     
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $gray-900;
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }




  // @include media-breakpoint-down(md) {


  //   .navbar-brand {
  //     height: 100px;
  //     width: 100px;
  //     background-image: url(../img/ease-crop-w.png);
  //     background-repeat: no-repeat;
  //     background-size: 98%;

  //   }
  // }

}
